$font-color-title: hsl(14, 45%, 36%);
$font-size-title: 1.5rem;
$padding-standard: 20px;
$font-family-standard: 'Outfit';
$font-family-title: 'Young Serif';
$border-standard: 1px solid hsl(30, 18%, 87%);
